package ${package}.${project}.modules.entity;

import com.baomidou.mybatisplus.annotation.*;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import com.baomidou.mybatisplus.annotation.*;
import java.io.Serializable;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;
import com.fasterxml.jackson.databind.annotation.JsonDeserialize;
import com.fasterxml.jackson.databind.annotation.JsonSerialize;
import lombok.ToString;
import java.time.LocalDateTime;
import java.util.Date;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
@EqualsAndHashCode(callSuper = false)
@Accessors(chain = true)
@TableName("${tableName}")
public class ${className} implements Serializable {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
	/**
	 * $column.comments
	 */
	#if($column.columnName == $pk.columnName)
@TableId(value = "id", type = IdType.INPUT)
	private $column.attrType $column.attrname;
	#elseif($column.columnName == "create_tm")
@TableField(fill = FieldFill.INSERT)
	private Date $column.attrname;
	#elseif($column.columnName == "modify_tm")
@TableField(fill = FieldFill.INSERT_UPDATE)
	private Date $column.attrname;
	#else
private $column.attrType $column.attrname;
#end

#end

}
