package ${package}.${project}.service.modules.service;

import com.baomidou.mybatisplus.extension.service.IService;
import com.seaboxdata.${project}.service.modules.model.${className};
import com.seaboxdata.commons.core.util.api.PageUtils;
import java.util.Map;
import com.seaboxdata.${project}.api.vo.${className}VO;
import com.seaboxdata.${project}.service.modules.model.${className};

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}> {

    PageUtils queryPage(Map<String, Object> params);

    ${className} queryById(Long id);

    Boolean insert(${className} ${classname});

    Boolean update(${className} ${classname});
}

